{% extends "base.html.twig" %}

{% block body %}
<h1>Read-once app</h1>

{% include "pages/_partials/_success_flash_messages.html.twig" %}

{{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" formnovalidate>Send</button>
{{ form_end(form) }}
{% endblock %}